<div class="container">
    <div class="container-fliud">
        <div class="wrapper row ">
            <div class="col-md-10 offset-md-2">
                <div class="col text-center">
                    <app-items-type></app-items-type>
                </div>
            </div>
        </div>
        <div class="wrapper row">
            <div class="categories col-md-2">    
                <!-- <h2>Categories</h2>  
                <app-category-list></app-category-list>              -->
                <app-filters></app-filters>
            </div>
            <div class="items col-md-10">
                <!-- <app-browse-item-list></app-browse-item-list> -->
                <!-- Seller items -->
                <app-bidder-item-list></app-bidder-item-list>
            </div>
        </div>
    </div>
</div>
