#label {
    vertical-align: middle;
    font-size: 30px;
    margin-bottom: 10px;
}

.form {
    text-align: center;
}

.bid-btn {
    background-color: coral;
    font-weight: 900;
}

.buy-btn {
    background-color: rgb(49, 189, 119);
    font-weight: 900;
  }