#page-content {
  flex: 1 0 auto;
}

.bg-dark {
    background-color: #586573!important;
}

/* #sticky-footer {
  margin-top: 30px;
}

#sticky-footer:before {
  background-color:rgb(244, 233, 243);
  position:absolute;
  content:"";
  left:0;
  right:0;
  height:30px;
  bottom: -240px;
} */